
similitudG.csv
similitudS1.csv
similitudS2.csv
similitudS3.csv
similitudS4.csv
similitudS5.csv
sinopsis1.csv
sinopsis2.csv
sinopsis3.csv
sinopsis4.csv
sinopsis5.csv
CSVs.rar
similitud_dfG
similitud_dfS1
similitud_dfS2
similitud_dfS3
similitud_dfS4
similitud_dfS5
