
similitudG.csv
similitudS1.csv
similitudS2.csv
similitudS3.csv
similitudS4.csv
similitudS5.csv
sinopsis1.csv
sinopsis2.csv
sinopsis3.csv
sinopsis4.csv
sinopsis5.csv
CSVs.rar
similitud_dfG
similitud_dfS1
similitud_dfS2
similitud_dfS3
similitud_dfS4
similitud_dfS5
ml-latest-small/similitud_dfG.csv
ml-latest-small/similitud_dfS1.csv
ml-latest-small/similitud_dfS2.csv
ml-latest-small/similitud_dfS3.csv
ml-latest-small/similitud_dfS4.csv
ml-latest-small/similitud_dfS5.csv
